# SSO API
SSO_PORT=5001
ALLOWED_ORIGINS=http://localhost:3000
NAME="SSO API"


# SSO PostgreSQL Configuration
SSO_POSTGRES_USER=postgres
SSO_POSTGRES_PASSWORD=postgres
SSO_POSTGRES_DB=smartconnection
SSO_POSTGRES_PORT=5434
SSO_POSTGRES_HOST=localhost
SSO_DB_FORCE_SYNC=false

# JWT
JWT_SECRET_KEY=${NAME}
JWT_ACCESS_TOKEN_EXPIRES=1800
JWT_REFRESH_TOKEN_EXPIRES=2592000
JWT_VERIFY_EMAIL_EXPIRES=259200
